<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>proximanova-black.otf</string>
		<string>proximanova-blackit.otf</string>
		<string>proximanova-bold.otf</string>
		<string>proximanova-boldit.otf</string>
		<string>proximanova-extrabold.otf</string>
		<string>proximanova-light.otf</string>
		<string>proximanova-regular.otf</string>
	</array>
</dict>
</plist>
